<!DOCTYPE HTML>


<head>
	<title>Welcome to Bikini Bottom</title>

	<!--CSS-->
	<link href="css/main.css" rel="stylesheet">
	<!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="main-background"></div>
	<div class="main-background-cover"></div>

	<div class="main-title"> Welcome to Bikini Bottom</div>

	<div class="party-container">
		<div class="party-header">Upcoming Party</div>
		<div class="party-title"> Halloween Party</div>
		<div class="party-date"> Saturday, October 31</div>
		<div class="party-description">It's finally time for our annual Bikini Bottom Halloween Bash. Costumes are required, admittance will be judged on creativity and/or how long you can drink from the fish tank kegerator.</div>
	</div>

<!--
	<div class="party-container">
		<div class="party-title"> Who will be there?</div>


		<div class="party-attendee">
			<div class="image"></div>
			<div class="metadata">
				<div class="name">Harry Rein</div>
				<div class="slogan">Hi, I'm a star.</div>
			</div>
		</div>


	</div>


-->

</body>
