<!DOCTYPE html>
<html>
  <head>
    <title>Bitches</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href="/stylesheets/login.css">
    <script type="text/javascript" src="/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>

  </body>
</html>
